input[type=number]{
  text-align: center;
  font-size: 1em;
  width: 12em;
  height: 2.25em;
  box-sizing: border-box;
  border: 3px solid rgba(40,40,40);
}

input[type=text]:focus {
  border: 3px solid rgba(40,40,40);
}

#gamestart{
  border: 3px solid rgba(40,40,40);
  color: rgba(225,225,225);
  background-color:rgba(40,40,40);
  font-size: 1.5em;
  width: 6em;
  height: 1.5em
}

#gamestart:hover{
  color: rgba(40,40,40);
  background-color: rgba(225,225,225);
  cursor: pointer;
}